body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
}

.container {
    background: rgba(255, 255, 255, 0.9); /* Fundo branco com leve transparência para destacar o conteúdo */
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.container__conteudo {
    margin: 20px;
}

.container__informacoes {
    margin-bottom: 30px;
}

.container__texto h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.radio-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: center; /* Centraliza os botões de rádio horizontalmente */
    flex-wrap: wrap; /* Permite que os botões se movam para a linha seguinte, se necessário */
}

.radio-container {
    display: flex;
    gap: 10px; /* Espaço entre os botões de rádio */
    font-size: 14px; /* Tamanho da fonte reduzido para compactar o grupo */
}

.radio-container label {
    display: flex;
    align-items: center; /* Alinha verticalmente o texto e o botão de rádio */
    margin: 0;
    cursor: pointer;
}

.radio-container input[type="radio"] {
    width: 16px; /* Largura do botão de rádio */
    height: 16px; /* Altura do botão de rádio */
    margin-right: 5px;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin: 0 auto;
    width: 80%; /* Ajuste a largura do fieldset conforme necessário */
    box-sizing: border-box; /* Inclui o padding e a borda no tamanho total do elemento */
}

.container__input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box; /* Inclui o padding e a borda no tamanho total do elemento */
    cursor: text; /* Define o cursor de texto */
}

.container__botoes {
    display: flex;
    justify-content: space-around;
    gap: 10px; /* Espaço entre os botões */
}

.container__botao {
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.container__botao#botaoChutar {
    background-color: #007BFF; /* Azul */
}

.container__botao#botaoChutar:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.container__botao#botaoChutar:hover:not(:disabled) {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container__botao#reiniciar {
    background-color: #28a745;
}

.container__botao#reiniciar:hover {
    background-color: #218838;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 500px) {
    .container {
        padding: 20px;
    }

    .container__texto h1 {
        font-size: 24px;
    }

    .radio-container {
        font-size: 12px; /* Tamanho da fonte reduzido em telas menores */
    }

    .container__input {
        font-size: 16px;
    }

    .container__botoes {
        flex-direction: column;
    }

    .container__botao {
        width: 100%;
        margin-bottom: 10px;
    }

    .container__botao:last-child {
        margin-bottom: 0;
    }
}
