body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
}

.container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.container__conteudo {
    margin: 20px;
}

.container__informacoes {
    margin-bottom: 30px;
}

.container__texto h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.radio-group {
    margin-bottom: 20px;
}

.radio-container label {
    display: inline-block;
    margin: 0 10px;
    font-size: 18px;
    color: #555;
    cursor: pointer;
}

.radio-container input {
    margin-right: 5px;
}

.container__input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.container__botoes {
    display: flex;
    justify-content: space-around;
    gap: 10px; 
}

.container__botao {
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.container__botao#botaoChutar {
    background-color: #007BFF; 
}

.container__botao#botaoChutar:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.container__botao#botaoChutar:hover:not(:disabled) {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container__botao#reiniciar {
    background-color: #28a745;
}

.container__botao#reiniciar:hover {
    background-color: #218838;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 500px) {
    .container {
        padding: 20px;
    }

    .container__texto h1 {
        font-size: 24px;
    }

    .radio-container label {
        font-size: 16px;
    }

    .container__input {
        font-size: 16px;
    }

    .container__botoes {
        flex-direction: column;
    }

    .container__botao {
        width: 100%;
        margin-bottom: 10px;
    }

    .container__botao:last-child {
        margin-bottom: 0;
    }
}
